body{
  font-size: 12px;
}
.page-top{
  background-color: #323232;
  height: 38px;
}
.container{
  width: 1206px;
  margin-left: auto;
  margin-right: auto;
}
.page-top .top-lf{
  float: left;
}
.page-top .top-lf a{
  color: #a2a2a2;
  line-height: 38px;
}
.page-top .top-lf a:hover{
  color: #fff;
}
.page-top .top-lf span{
  color: #3f3f3f;
  padding: 0 3px;
}
.page-top .top-rt .login{
  line-height: 38px;
  float: right;
}
.page-top .top-rt .login a{
  color: #a2a2a2;
}
.page-top .top-rt .login a:hover{
  color: #fff;
}
.page-top .top-rt .login span{
  color: #3f3f3f;
  padding: 0 3px;
}
.page-top .car-box{
  float: right;
  line-height: 38px;
  position: relative;
}
.page-top .car-box a{
  color: #a2a2a2;
}
.page-top .car-box:hover .pop{
  display: block;
}
.page-top .pop {
  width: 360px;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: none;
}
.page-top .pop .list{
  max-height: 350px;
  overflow-y: auto;
}
.page-top .pop .list li{
  height: 70px;
}
.page-top .pop .list img{
  height: 70px;
  width: 70px;
  float: left;
}
.page-top .pop .list .txt{
  float: left;
  line-height: 70px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-top .pop .list .num{
  float: right;
}
.page-top .pop .list .num i{
  float: right;
  line-height: 70px;
  margin-right: 20px;
}
.page-top .pop .list .num h4{
  float: right;
  margin-right: 30px;
}